

body, html  {
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
  background: #09093B;
  color:white;
 }

 img  {
  position: relative;
  top:0;
  z-index:0;
  border-radius: 50%;
  width: 30%;
  height: auto;
  border: 3px solid #5494E1;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #343477;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}
  
.grid-container > div {
  background-color: rgba(128, 128, 179);
  border: 3px solid black;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  padding: 1px;
  
}
 
a{
  color: #b95858;

}
span {
  text-align: left;
}
.topnav {
  
  background-color: #5494E1;
  border:1px solid white;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  
}

.button {
  font-family: 'Special Elite', cursive;
  font-size: 1.4rem;
  width:auto;
  overflow: auto;
  background-color: #343477;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  
  
}

.button:hover{
  
  background-color: #E26D3E;
  
}

.clock {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17D4FE;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
 


}

/* For Smaller Screens */
@media only screen and (max-width: 600px) and (min-width: 200px) {
  body {
    background-color: #09093B;
    font-size: .9rem;
  }
  .content {
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .grid-container {
    display: grid;
    background-color: #343477;
    border-radius: 10px;
    text-align: center;   
    margin: 0;
    width: 96%;
  }
  .grid-container div {
    background-color: rgba(128, 128, 179);
    border: 3px solid black;
    text-align: center;
    border-radius: 10px;
    font-size: .9rem;
    margin: auto;
  }
}